<div class="col-md-4"> 
    <div class="card-content"> 
        <div class="card-img"> 
            <img [src]="uploadDocument(galeriaUsuarios.getImagen())" alt=""> 
            <span><h4>{{galeriaUsuarios.getNombre()}} {{galeriaUsuarios.getApellido()}}</h4></span> 
        </div> 
        <div class="card-desc"> 
            <h3>{{galeriaUsuarios.getNombre()}}</h3> 
            <p> {{galeriaUsuarios.getObservacion()}}</p> 
                <a href="#" class="btn-card">Read</a>    
        </div> 
    </div> 
</div> 
